:root {
  --timerBarColour: red;
  --timerBarLength: 2.0s
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.hr1 {
  color: black;
  background-color: black;
  width: 100%;
  height: 5px;
}


.body-home {
  background-color: #160053;
  min-height: 100vh;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}


.header {
  background-color: #160053;
  display: flex;
  align-items: center;
  padding: 0.7rem;
  gap: 1rem;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s ease-out;
  font-size: large;
}


.link:hover {
  color: #0a59e1;
}


::placeholder {
  color: gray
}


a {
  text-decoration: none;
}

.search-bar {
  background: #fff;
  width: 90%;
  max-width: 800px;
  display: flex;
  padding: 2px;
  border-radius: 4px;
  height: 70px;
  justify-content: center;
}


.search-btn {
  color: navy;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  margin-right: 17px;
}

.select {
  background: white;
  display: flex;
  align-items: center;
  top: -2px;
  left: -3px;
  justify-content: space-between;
  color: #160053;
  width: 300px;
  padding: 25px 20px;
  cursor: pointer;
  position: relative;
  border: 4px;
  height: 70px;
  z-index: 0;
}

.select fa-caret-down {
  width: 15px;
}

.select ul {
  position: absolute;
  top: 90%;
  left: 0%;
  list-style-type: none;
  box-shadow: 2px 20px 30px rgba(0, 0, 0, 0.3);
  background: #fff;
  color: #555;
  width: 100%;
  border-radius: 4px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.select ul li {
  padding: 5px 2px;
  cursor: pointer;
}

.select ul li:hover {
  background: rgb(6, 87, 157, 0.2);
}

.select ul.open {
  max-height: 300px;
}

.search-bar input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}


.lists {
  margin-top: 7px;
}

.options {
  margin-left: 19px;
}


.courses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}



.course-heading {
  letter-spacing: 1px;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
.course-heading h1{
  font-size: 1.0rem;
  font-weight: 500;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}
*/

.course-heading span {
  font-size: 3.0rem;
  color: black;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.course-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.course-box {
  width: 620px;
  height: 165px;
  outline: 3px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}


.profile-img {
  width: 50px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  background-color: white;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: white;
}

.profile {
  display: flex;
  align-items: center;
  background-color: white;
}

.course {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.course strong {
  color: black;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  background-color: white;
}

.course span {
  color: black;
  font-size: 1.0rem;
  background-color: white;
  max-width: 400px;
}

.reviews {
  color: orange;
  background-color: white;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 20px;
}

.terms-run {
  margin-left: 55px;
  display: flex;
  justify-content: left;
  background-color: white;
}

.term {
  background-color: orange;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 7px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.popup-box {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 120vh;
  z-index: 1;
}

.box {
  position: relative;
  width: 55%;
  min-height: 600px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  margin: 110px auto;
  padding: 20px;
  overflow: auto;
}

.btn-close {
  cursor: pointer;
  border: 1px solid #999;
  background-color: orange;
  color: #160053;
  border-radius: 50%;
  position: fixed;
  right: calc(35% - 20px);
  top: 50px;
  font-size: 24px;
  padding-bottom: 3px;
  padding-left: 13px;
  padding-right: 13px;
  transition: all 0.3s ease-out;
}

.btn-close:hover {
  color: white;
  background-color: #160053;
}

.login-form {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  color: #160053;
  text-align: center;
}

.login-form>form {
  width: 306px;
  margin: 0 auto;
  background-color: white;
  font-size: 18px;
  padding-left: 10px;
}

.register-button {
  background: none;
  border: none;
  text-decoration: none;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s ease-out;
  font-size: large;
}

.register-button:hover {
  color: #0a59e1;
}

.header-right {
  display: flex;
  position: absolute;
  gap: 0.8rem;
  align-items: baseline;
  right: 1%;
}

.navbar-username {
  background: none;
  border: none;
  text-decoration: none;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-size: 20px;
  font-weight: 900;
  color: orange;
}

.navbar-text {
  background: none;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  transition: all 0.3s ease-out;
  font-size: large;
}

.navbar-username:hover {
  color: white
}



[type="submit"] {
  width: 95%;
  height: 45px;
  background: #160053;
  font-size: 20px;
  font-weight: bold;
  color: white;
  outline: none;
  border-bottom: 1px;
  border-radius: 10px;
  border-color: #160053;
  letter-spacing: -0.05em;
  cursor: pointer;
  margin-bottom: 5px;
  transition: all 0.3s ease-out;
  margin-left: 0.5rem;
}

[type="submit"]:hover {
  background: orange;
  border-color: orange;
  color: #160053
}


.timer-bar {
  width: 500px;
  min-width: 300px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
  background: var(--timerBarColour);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  transition: 1s;
  overflow: hidden;
}

.timer-bar::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #160053;
  padding: 0.5em;
  animation: timer-slider var(--timerBarLength) ease-in-out forwards;
}

@keyframes timer-slider {
  0% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

.alert-box {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 300px;
  max-width: 90%;
  width: auto;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
  background: orange;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #160053;
  font-family: 'roborto', sans-serif;
  text-align: center;
  transition: 1s;
}

.alert {
  font-weight: 900;
  font-size: 17px;
}

.register-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(8, 0, 0, 0.8);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.register-overlay:target {
  visibility: visible;
  opacity: 1;
}

.register-wrapper {
  margin: 70px auto;
  padding: 20px;
  background: #e7e7e7;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.register-wrapper h2 {
  margin-top: 0;
  color: #333;
}

.register-wrapper .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.wrapper .register-content {
  max-height: 30%;
  overflow: auto;
}

.register-container {
  margin-top: 10px;
  margin-bottom: -15px;
  border-radius: 5px;
  background-color: #e7e7e7;
  padding: 20px 0;
}

form label {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}


.password-text {
  -webkit-text-security: disc;
}