@charset "utf-8";

:root {
    --percentage1: 0%;
    --percentage2: 0%;
    --percentage3: 0%;
}

* {
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

.header {
    background-color: #160053;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
}

.body-reviews {
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}

span.li {
    display: list-item;
    margin-left: 2em;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.terms-run-review {
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
}

.term-review {
    background-color: #160053;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 5px;
    font-size: 0.75rem;
    margin-bottom: 5px;
    margin-top: 5px;
}

.total-review-stats {
    display: flex;
    font-size: 1.3rem;
    margin-bottom: -10px;
}

.num-reviews {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: -2px;
    font-size: 0.95rem;
}

.stats-container {
    width: 100%;
    height: 50%;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    left: 50%;
}

.stats-bar-enjoy {
    width: 5vw;
    height: 17vh;
    background: orange;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
}

.stats-bar-enjoy::after {
    content: '';
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: #160053;
    animation: barsInEnjoy 1.5s ease-in-out forwards;
}

@keyframes barsInEnjoy {
    0% {
        bottom: 0%;
    }

    100% {
        bottom: var(--percentage1);
    }
}

.stats-bar-useful {
    width: 5vw;
    height: 17vh;
    background: orange;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
}

.stats-bar-useful::after {
    content: '';
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: #160053;
    animation: barsInUseful 1.5s ease-in-out forwards;
}

@keyframes barsInUseful {
    0% {
        bottom: 0%;
    }

    100% {
        bottom: var(--percentage2);
    }
}

.stats-bar-manage {
    width: 5vw;
    height: 17vh;
    background: orange;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
}

.stats-bar-manage::after {
    content: '';
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: #160053;
    animation: barsInManage 1.5s ease-in-out forwards;
}

@keyframes barsInManage {
    0% {
        bottom: 0%;
    }

    100% {
        bottom: var(--percentage3);
    }
}

.lower-stats-text {
    display: block;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: larger;
}

.category-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.stats-category {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.link:hover {
    color: #000000;
}

.about-container-reviews {
    width: 85%;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 2% auto 20px auto;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.about-container-reviews img {
    height: 250px;
}

.about-text-reviews {
    width: 60%;
    background: white;
    margin-bottom: 1rem;
    line-height: 30px;
}

.about-text-reviews p:nth-child(1) {
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
}

.about-text-reviews p:nth-child(2) {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    white-space: normal;
    margin-bottom: 10px;
}

.conditions {
    color: #000000;
    font-size: 13.5px;
    line-height: 25px;
}

.overview {
    color: #000000;
    font-size: 12px;
    line-height: 25px;
}

.about-text-reviews a {
    background: url(data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAxoQ0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABERAAAAAAABEREQAAAAABEQAREAAAAAEQAAERAAAAARAAAAAAAAABEQAAEREAAAAREAERERAAAAERARABEQAAABEQARAREAAAAREREAERAAAAEREAABEQAAAAAAAAARAAAAAREAABEAAAAAERABEQAAAAABEREQAAAAAAAREQDD/wAAgf8AABj/AAA8fwAAP/8AAB4fAACMDwAAxMcAAOMjAADwMQAA+HgAAP/8AAD+PAAA/xgAAP+BAAD/wwAA) no-repeat left center;
    padding-left: 19px;
    color: rgb(6, 87, 157);
    text-decoration: none;
    text-transform: uppercase;
}

.about-text-reviews a:hover {
    cursor: pointer;
}

.search-bar {
    background: #fff;
    width: 52%;
    max-width: 800px;
    padding: 2px;
    border-radius: 4px;
    height: 75px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 1.8%;
    justify-content: center;
}

.search-btn {
    color: navy;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.r-select {
    background: #160053;
    display: flex;
    align-items: center;
    top: -2px;
    left: -3px;
    justify-content: space-between;
    color: #fff;
    width: 300px;
    padding: 25px 20px;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    height: 70px;
    z-index: 1;
}


.r-select fa-caret-down {
    width: 15px;
}

.r-select ul {
    position: absolute;
    top: 100%;
    left: 0%;
    box-shadow: 2px 20px 30px rgba(0, 0, 0, 0.3);
    list-style-type: none;
    list-style: none;
    background: #fff;
    color: #555;
    width: 100%;
    border-radius: 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.r-select ul li {
    padding: 5px 2px;
    cursor: pointer;
}

.r-select ul li:hover {
    background: rgb(6, 87, 157, 0.2);
}

.r-select ul.open {
    max-height: 300px;
}

.search-bar input {
    padding: 10px 25px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
}

.review-box-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #160053;
    width: 100%;
}

.one:hover,
.one:hover~.two,
.one:hover~.three,
.one:hover:hover~.four,
.one:hover~.five,
.two:hover,
.two:hover~.three,
.two:hover~.four,
.two:hover~.five,
.three:hover,
.three:hover~.four,
.three:hover~.five,
.four:hover,
.four:hover~.five,
.five:hover {
    color: rgb(214, 107, 7);
    cursor: pointer;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.review-box {
    outline: 3px solid black;
    border-radius: 20px;
    width: 650px;
    box-shadow: 2px 20px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin-top: 2%;
    cursor: pointer;
}

.overall-rating {
    font-size: 0.85rem;
    display: inline-flexbox;
    align-items: left;
}

.specific-ratings {
    font-size: 0.95rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.user-data {
    font-size: 0.9rem;
    display: flex-down;
    text-align: right;
}

.review-user {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, .65)
}

.title {
    margin-top: 10px;
    display: flex;
}

.title strong {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment {
    color: #4b4b4b;
    margin-bottom: 10px;
    margin-top: 10px;
}

.review-text {
    color: black;
    font-size: 23px;
    text-align: center;
}

.review-box:hover {
    /*transform: translate(25vw, -3px); */
    transition: all ease 0.7s;
}

.text {
    font-size: 14px;
}

.dots {
    font-size: 18px;
}

.extraText {
    display: none;
}

.read-more {
    padding: 15px 60px;
    background-color: #160053;
    color: white;
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    outline: 3px solid black;
    border-radius: 20px;
    box-shadow: 2px 20px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.text.show-more .extraText {
    display: inline;
}

.text.show-more .dots {
    display: none;
}

.fa-star-review {
    color: orange;
}

.fa-star-half-stroke {
    color: rgb(6, 87, 157);
    cursor: pointer;
}

.fa-star-half-stroke:hover {
    color: #09347e;

}

.search-container {
    margin-top: 100px;
}

.select-box {
    display: flex;
    width: 400px;
    flex-direction: column;
}

.select-box .options-container {
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}

.selected {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    order: 0;
}

.selected::after {
    content: "";
    background: url(https://spng.pngfind.com/pngs/s/25-259444_expand-arrow-icon-free-download-scroll-down-arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
    transition: all 0.4s;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box .option .selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background: #414b57;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

.comment p {
    font-size: calc(9px + 0.390625vw);
    color: #4b4b4b;
}

@media (max-width:580px) {
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .title {
        margin-top: 10px;
    }

    .search-btn {
        float: right;
        width: 10px;
        height: 10px;
    }

    .comment p {
        font-size: calc(6px + 0.390625vw);
        color: #4b4b4b;
    }

    .review-box {
        margin-top: 5%;
        box-shadow: 2px 10px 30px rgb(0 0 0 / 10%);
    }

    .review-box p {
        font-size: 12px;
    }

    .review-box strong {
        font-size: 14px;
    }

    .r-select ul li {
        font-size: 12px;
    }
}

@media (max-width:750px) {
    .search-bar {
        height: 45px;
        width: 85%;
    }

    .r-select p {
        font-size: 12px;
    }

    .about-text-reviews {
        width: 80%;
    }

    input,
    input::-webkit-input-placeholder {
        font-size: 12px;
    }


    .search-btn {
        float: right;
        width: 25px;
        height: 25px;
    }

    .rating i {
        font-size: 14px;
    }
}

@media (max-width:1060px) {
    .review-box {
        width: 75%;
        padding: 15px;
    }

    .comment p {
        font-size: calc(12px + 0.390625vw);
        color: #4b4b4b;
    }
}